<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.thomaschevalier.fr">CHEVALIER Thomas</a></li>
                    <li><a href="http://www.creative-tim.com">THEME</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{currentDate | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by CHEVALIER Thomas
                </span>
            </div>
        </div>
    </div>
</footer>
