

<div class="wrapper">
    <div class="section">

        <ngb-alert *ngIf="alert.isVisible"
                   class="text-center"
                   [type]="alert.type"
                   >{{alert.message}}
        </ngb-alert>

        <div class="container text-center">
            <h4 class="title">ADMINISTRATION DES MARQUES</h4>
            <div class="row">
                <div class="col-8 ml-auto mr-auto text-center pt-2 shadow">
                    <a routerLink="/brand/new" class="btn btn-round btn-outline-success btn-sm float-right mb-2">
                        NOUVELLE MARQUE
                    </a>
                    <table class="table table-borderless table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width: 50%"  scope="col">Nom</th>
                                <th  scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let b of brands" >
                                <td>{{b.name}}</td>
                             <td>
                                 <a routerLink="/brand/edit/{{b.id}}"
                                    class="btn btn-sm btn-round btn-outline-warning">
                                     MODIFIER
                                 </a>
                             </td>
                             <td>
                                <button (click)="onClickDeleteBrand(b.id)" class="btn btn-sm btn-round btn-danger">
                                    SUPPRIMER
                                </button>
                             </td>
                           </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
