<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/home.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>PARTENAIRE DE CONFIANCE</h1>
            <h3>Laissez-nous vous accompagner dans l'achat de votre première voiture de prestige.</h3>
            <br/>
            <a routerLink="/signin" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>TROUVER MA
                VOITURE DE PRESTIGE</a>
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto shadow">
                    <h2 class="title">À propos de nous</h2>
                    <h5 class="description">Centre'Auto a été fondé dans les années 1920, revendeur principal des Ford
                        T. Aujourd'hui, fort de notre expérience, nous accompagnons notre client dans la sélection et
                        l'achat de leur première voiture de prestige. </h5>
                    <br>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">À L'ÉCOUTE DE VOTRE PROJET</h4>
                            <p>Car nous connaissons l'importance de l'investissement de nos clients dans leur achat,
                                nous faisons de chaque projet une priorité. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">LES MEILLEURS PRIX DU MARCHÉ</h4>
                            <p>Fort de notre historique et de notre réseau, nous saurons obtenir le meilleur prix sur le
                                marché pour la voiture de vos rêves.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">VOITURE SUR-MESURE</h4>
                            <p>Votre projet est personnalisé ? Nous nous occupons de tous le processus post-achat pour
                                vous donner les clés de votre voiture 100% sur-mesure.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Ils nous recommandent</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="...">
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Joselin Iglony</h4>
                                <h6 class="card-category">ford mustang 1967</h6>
                            </div>
                            <p class="card-description text-center">
                                J'ai parcouru la France avant de tomber sur Centre'Auto. Ils ont su répondre
                                parfaitement à ma demande et me proposer LE véhicule que je recherchais depuis plusieurs
                                années.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/faces/kaci-baum-2.jpg" alt="...">
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Sophie Wespper</h4>
                                <h6 class="card-category">lotus evija</h6>
                            </div>
                            <p class="card-description text-center">
                                Je voulais être la première femme à obtenir la voiture électrique de Lotus ! Produite à
                                seulement 130 exemplaires, Centre'Auto a eu l'audace de relever le défi. Et c'est avec
                                beaucoup de joie que j'ai signé mon bon de commande !
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/faces/erik-lucatero-2.jpg" alt="...">
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">ferrari 488 pista</h6>
                            </div>
                            <p class="card-description text-center">
                                Depuis petit, le cheval cabré était un rêve. Ayant gagné une grosse somme récemment,
                                j'ai décidé de faire confiance à Centre'Auto afin de trouver et personnaliser la voiture
                                de prestige de mes rêves : une Ferrari 488 Pista !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
